body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    margin-top: 100px; 
    background-image: url(imagens/wallpaper.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

/* --- MENU --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que fique acima de tudo */
}

.menu-navegacao {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.menu-navegacao a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.menu-navegacao a:hover {
    color: #00d4ff;
    text-shadow: 0 0 8px #00d4ff;
    transform: scale(1.14);
}

/* --- SEÇÕES (CARDS) --- */
section, footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 800px;
    backdrop-filter: blur(10px);
    scroll-margin-top: 100px; 
}

/* --- ELEMENTOS --- */
h1 {
    text-align: center;
}

#home h2 {
    font-size: 30px;
    text-align: center;
}

#retrato {
    width: 250px;
    aspect-ratio: 3/4;
    display: block;
    margin: 0 auto;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    object-fit: cover;
}

li {
    list-style-type: disc;
    font-size: 20px;
    margin-bottom: 10px;
}

/* --- BOTÃO DE MÚSICA --- */
.botao-musica {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    transition: transform 0.3s;
}

.botao-musica:hover {
    transform: scale(1.1);
}

/* --- REDES SOCIAIS / FOOTER --- */
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.RedesSociais {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

.RedesSociais:hover {
    transform: scale(1.2);
}

#Github {
    width: 80px; /* Ajustado para não destoar tanto dos outros */
}